
{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<style>
    section {
        position: relative;
        padding-bottom: 60px;
    }
    article {
        position: relative;
        padding: 0 100px 0 30px;

    }
    .titre-date {margin-bottom: 20px;}
    img {width: 100%;}
    
    .description {
        width: 50%;
        font-style: italic;
        float: right;
        font-size: 40px;
        transform: rotate(-15deg);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: #c0e8ff;
        position: relative;
        z-index: 1000;
    }
    article {
        font-size: 20px;
    }
    ul.galerie {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

</style>
<section class="single-post">

    


    <img src="{{ .Params.image }}"/>
    <div class="titre-date" style="font-family: sans-serif;">
        <span style="text-transform: uppercase; font-size: 40px;">{{ .Title }}</span>
        <span style="float: right;" class="date">{{ .Date.Format "02.01.2006" }}</span>
    </div>
    
    <!-- <p class="description">{{ .Params.description }}</p> -->
    <article class="content">
      {{ .Content }}
    </article>

    
    
    <img src="{{ .Params.galleryImages }}" >
    

    

    {{range .Params.galleryImages }}
    
        <li>
            hellllllo
        <img src=" " alt="hi"/>
        </li>
    {{ end }}

    <!-- IMAGE PROBLEME : saved in static but not in resources ! -->

    
    


</section>

{{- partial "footer.html" . -}}

