
{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<style>
    section {
        position: relative;
        padding-bottom: 60px;
        color: grey;
    }
    
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;

    }
    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;

    }
    .titre-date {margin-bottom: 20px;}
    img {width: 100%;}
    article {
        position: relative;
        padding: 0;
        font-size: 20px;
    }
    
    
    ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
        list-style: none;
        margin: 0;
        padding-inline: 0;
    }

</style>
<section class="single-post">


    
    
  
    
    {{ if eq .Params.align "vertical" "square" }}
    <div class="grid-2">
        <img src="{{ .Params.image }}"/>
        <div class="titre-date" style="font-family: sans-serif;">
            <span style="text-transform: uppercase; font-size: 40px;">{{ .Title }}</span>
            <span style="float: right;" class="date">{{ .Date.Format "02.01.2006" }}</span>
            <article class="content">
                {{ .Content }}
            </article>
        </div>
    </div>
        {{end}}

        {{ if eq .Params.align "horizotal" }}
    <div class="grid-1">
        <img src="{{ .Params.image }}"/>
        <div class="titre-date" style="font-family: sans-serif;">
            <span style="text-transform: uppercase; font-size: 40px;">{{ .Title }}</span>
            <span style="float: right;" class="date">{{ .Date.Format "02.01.2006" }}</span>
            <article class="content">
                {{ .Content }}
            </article>
        </div>
    </div>
        {{end}}
   
   

    <!-- <p class="description">{{ .Params.description }}</p> -->
    

    <ul>
        {{ range .Params.galleryImages }}
            <li>
                <img src="{{ . }}"/>
            </li>
        {{ end }}
    </ul>   

    
        
    

    
    

    <!-- IMAGE PROBLEME : saved in static but not in resources ! -->

    
    


</section>

{{- partial "footer.html" . -}}

