

{{- partial "head.html" . -}}
    {{- partial "header.html" . -}}
    <div id="content" class="{{ .Type }} {{ .Slug }}">
      {{- .Content -}}

            {{ with .Site.GetPage "/blog" }}
                <a href="{{ .RelPermalink }}">
                {{ .Title }}</a>
            {{ end }}
            
        <!-- <ul>
            {{ range (where .Pages "Section" "blog") }}
            
            
            <li>
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
                <p class="description">{{ .Params.description }}</p>
            </a>
            </li>
            {{ end }}
        </ul> -->

    </div>
{{- partial "footer.html" . -}}
  