{{- partial "head.html" . -}}
{{- partial "header.html" . -}}

<style>
    #content {
        position: relative;
        padding-bottom: 30px;
    }
    ul {
        padding-inline-start: 0;
        margin: 0px;
        -moz-column-width: 21em;
        -webkit-column-width: 21em;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
    }
    li {
        display: inline-block;
        padding: 0;
        margin: 0;
        width:  100%; 
        float:none;
    }
    /* li:hover {background-color: rgba(255, 105, 180, 0.685);} */
    /* a {text-decoration: none; color: black;} */
    h4 {font-family:sans-serif; text-emphasis: left; text-transform: uppercase; margin: 0; font-weight: 100;}
    
    p {font-style: italic;}
</style>
{{ define "main" }}
<div id="content" class="{{ .Type }} {{ .Slug }}">
   
    <ul>
            {{ range (where .Pages "Section" "projets") }}
            
            <li>
            <a href="{{ .RelPermalink }}">

                <img src="{{ .Params.image }}?nf_resize=smartcrop&w=300&h=300" width="100%"/> 
                



                <h4>{{ .Title }}
                    <!-- <span>{{ .Date.Format "02.01.2006" }}</span> -->
                </h4>
                <!-- <p class="description">{{ .Params.description }}</p> -->
                
                
            </a>
            </li>
            {{ end }}
        </ul>
        
</div>
{{end}}
{{- partial "footer.html" . -}}

